* {
    font-family: 'Lato', sans-serif;
}

.bold {
    font-weight: 700;
}

.collapsed-box {
    width: 300px;
    height: 62px !important;
}
.collapsed-box ul {
    visibility: hidden;
}

.half-opacity {
    opacity: 50%;
}

.hide {
    display: none !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 50px;
    height: 50px;
}
header h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #D04F4F;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1400px;
    padding: 20px 60px;
    width: 100%;
}

header {
    padding: 20px 60px;
    display:flex;
    justify-content: center;
}

header picture img {
    width: 250px;
}

#recipe-search {
    width: 100%;
    background: #E7E7E7;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
}

#recipe-search:focus, .selector-search:focus {
    outline: none;
}

#recipe-search::placeholder {
    color: rgb(0, 0, 0, .25);
}

.search-icon {
    position: absolute;
    transform: translate(-50px, 13px)
}

#tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.tag {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    cursor: pointer;
    position: relative;
}

.tag:after {
    content: "";
    background: url(./assets/close.svg);
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.tag p {
    margin: 0 30px 0 0;
}

#selector-container {
    margin-top: 10px;
    border: none;
    display: flex;
    gap: 20px;
    position: absolute;
}

.selector-search {
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    caret-color: white;
    width: calc(100% - 60px);
}
.selector-search:hover {
    background: #0000000c !important;
}

.selector-search::placeholder {
    color: white;
    opacity: 50%;
}
.collapsed-box .selector-search::placeholder {
    opacity: 100%;
}

.input-container {
  max-width: 500px;
  border-radius: 5px;
  height: 100%;
  position: relative;
}

.input-container ul{
    display: flex;
    flex-flow: row wrap;
    padding: 0 20px;
    justify-content: space-between;
}
.input-container ul li{
    width: 30%;
    min-width: 150px;
    list-style: none;
    margin: 0;
    font-size: 18px;
    color: white;
    line-height: 30px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-container ul li:hover {
    text-overflow: clip;
    white-space: normal;
    text-decoration: underline;
}

.chevron {
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 10px 7px;
    border-radius: 5px;
    transform: translateY(-10px);
}
.chevron:hover {
    background: #00000041;
}

#ingredient-search, .ingredient-tag, .blue {
    background: #3282F7;
}
#apparel-search, .apparel-tag, .green {
    background: #68D9A4;
}
#utensil-search, .utensil-tag, .red {
    background: #ED6454;
}

#recipes-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

article {
    width: 30%;
    background: #C7BEBE;
    border-radius : 8px;
    margin: 25px 0;
}

article:nth-child(3n + 2) {
    margin: 25px 5%;
}

article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.article-desc {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #E7E7E7;
    border-radius: 0 0 8px 8px;
    height: 140px;
}

.article-header, .article-content {
    display: flex;
    flex-direction: row;
}

.article-header {
    justify-content: space-between;
}

.article-header h2 {
    font-size: 18px;
    font-weight: 400;
}

.article-header img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.recipe-time {
    display: flex;
    align-items: center;
}

.article-content {
    font-size: 12px;
    overflow: hidden;
    gap: 10px;
    height: 85px;
}

ul.ingredients-list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    flex: 1;
}

p.recipe-desc {
    flex: 1;
    margin: 0;
}

p.no-recipe {
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
}
img.no-results {
    width: 100px;
    margin: auto;
}
